{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
    			<div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <b>Contacts</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('contact_new') }}" class="btn btn-success btn-lg"><i class="material-icons">&#xE147;</i> <span>Add New Contact</span></a>
                        </div>
                    </div>
			    </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Street Address</th>
                            <th>Zip Code</th>
                            <th>City</th>
                            <th>Phone Number</th>
                            <th>Birth Date</th>
                            <th>Email Address</th>
                            <th>Country</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td><img height ="200px" width = "200px" alt = "N/A" src="{{ asset('uploads/pictures/' ~ contact.pictureUrl) }}"></td>
                            <td>{{ contact.firstName }}</td>
                            <td>{{ contact.lastName }}</td>
                            <td>{{ contact.streetAddress }}</td>
                            <td>{{ contact.zipCode }}</td>
                            <td>{{ contact.city }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                            <td>{{ contact.birthDate ? contact.birthDate|date('Y-m-d') : '' }}</td>
                            <td>{{ contact.emailAddress }}</td>
                            <td>{{ contact.country }}</td>
                            <td>
                                <a href="{{ path('contact_show', {'id': contact.id}) }}" class="View"><i class="material-icons" data-toggle="tooltip" title="View">remove_red_eye</i></a>
                                <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
